#build
build

result
/temp
.vs
out
.idea
old_src
ToProcess
migrate_dependencies.py
dependencylib
download_dependencies.py
test
build_and_run.bat
CMakeFiles
temp
/src/count_lines.py
/src/a.exe
/src/main.exe
/src/ha
/src/ha*
/src/PreProcess/__pycache__
/src/GetFile/__pycache__
/src/*.exe
/src/temp


*.pyc

a.exe
count_lines.py
a.dll
a.pdb
